__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

venv/
.env/
.venv/

instance/
*.db

.vscode/

.idea/

.DS_Store

dump/
*.bson
*.json

*.log

.pytest_cache/

htmlcov/
.coverage
coverage.xml
.cache

*.pid
*.tar
docker-compose.override.yml

.env
.env.*  # in case you use .env.dev, .env.prod etc.
